.card-view{
  background-color: #f6f7ef;
  width:15rem;
  height:19rem ;




  &--image{
    display: flex;
    height: 13rem;
    width: 13rem;
    overflow: hidden;
    justify-content: space-between;

    &--img{

    }
  }
  &--details {
    display: flex;
    flex-direction: column;
    width: 13rem;
    height: 5rem;
    background-color: white;
    //margin: 1rem 1rem 0.2rem 1rem;
    color: black;
    font-size: 0.7rem;

    &--header {
      font-weight: bold;
      margin-left: 10px;
    }

    &--type {
      display: flex;
      flex-direction: row;
      margin-left: 10px;
    }

    &--comfort {

    }


    &--price {

      color: black;
      font-size: 1rem;
      font-weight: bold;
      margin-left: 10px;
    }

    &--rating {
      display: flex;
      flex-direction: row;

      &--checked {
        color: black;
      }

      &--notchecked {
        color: black;
      }
    }
  }


}