
.card-view{
  background-color: #f6f7ef;
  width:275px;
  height: 275px;
  margin-left: 3rem;
  padding-bottom: 30rem;
  justify-content: space-between;





  &--image{
    //display: flex;
    width: 275px;
    height: 275px;
    //overflow: hidden;
    //justify-content: space-between;

    &--img{
      height: 275px;
      width: 275px;
    }
  }
  &--details {
    display: flex;
    flex-direction: column;
    width: 275px;
    height: 150px;
    background-color: white;
    //margin: 1rem 1rem 0.2rem 1rem;
    color: black;
    font-size: 0.7rem;

    &--header {
      font-weight: bolder;
      margin-left: 20px;
      margin-top: 15px;
      font-size: 20px;

    }

    &--type {
      display: flex;
      flex-direction: row;
      color: #7070707A;
      margin-left: 20px;
      margin-top: 5px;
      font-size:20px;
    }

    &--comfort {

    }


    &--price {

      color: black;
      font-size: 20px;
      font-weight: bold;
      margin-left: 20px;
      margin-top: 5px;
    }

    &--rating {
      display: flex;
      flex-direction: row;
      margin-left: 19px;
      margin-top: 5px;


      &--checked {
        color: black;
      }

      &--notchecked {
        color: black;
      }
    }
  }


}