.product-details {
  display: flex;
  background-color: lightblue;
  &--image{
      height: 30rem;


    }
    &--details {
      display: grid;
      grid-template-columns: auto auto;
      grid-column-gap: 1rem;

      &--header {
        font-weight: bold;
        color: darkred;
        text-decoration: underline;
        font-size: large;
      }

      &--type {
        font-size: small;
      }
        &--comfort {
          font-size: small;
        }

        &--size {
          font-size: small;
        }
      }

      &--price {
        color: crimson;
        margin: 1rem;
      }

      &--quantity {
        &--label {
          font-size: small;
        }

        &--input {
          width: 2rem;
          background-color: gainsboro;
          border-radius: 2px;
        }
      }

      &--dimention {
        display: flex;
        flex-direction: column;

        &--color {
          width: 1rem;
          height: 1rem;
        }

        &--height {
          font-size: small;
        }

        &--layers {
        font-size: small;
        }
      }

      &--button {
        margin:1rem;
        &:hover{
          background-color: royalblue;
        }
      }
    }

