.login {
  height: 100vh;
  width: 100%;

  &--page {
    border-radius: 20px;
    margin: auto;
    width: 30%;
    display: grid;
    //grid-template-rows: 30px 30px;
    justify-content: center;
    //grid-row-gap: 30px;
    height: 70ch;
    align-items: center;


    &--header {
      margin-top: 5rem;
      font-weight: bolder;
      font-size: 30px;
      color: #707070;


    }


    &--input {
      height: 50px;
      border: 1.5px solid #3E3E3E;
    }

    &--password {
      height: 50px;

      border: 1.5px solid #3E3E3E;
    }

    &--button {
      border: 1px solid #707070;
      height: 51px;
      border-radius: 26px;
      background-color: #4F61D0;
      color: #FFFFFF;
      font-size: 18px;
      font-weight: bold;
      //margin-top: 5rem;
      letter-spacing: 1px;
      text-transform: uppercase;


    }

    &--account {
      font-size: 15px;
      text-align: center;

    }

    &--create-button {
      border: 1px solid #707070;
      height: 51px;
      border-radius: 26px;
      font-size: 18px;
      font-weight: bolder;
      //margin-top: 5rem;
      letter-spacing: 1px;
      text-transform: uppercase;
      width: 350px;

    }
  }
}