.cartpage{
  height: 100rem;
  width: 100% ;
  //display: flex;
  //flex-direction: row;

  &--home {
    filter: blur(2px);
    //width: 1276px;
    height: 1080px;
    //position: fixed;
    //position: relative;
    //top: -100px;
    &--head{
      width: 100%;
      height: 98px;
      color: transparent;
      position: relative;
      top: -100px;
    }
  }
  &--cart{
    display: flex;
    flex-direction: column;
    width: 644px;
    margin-left: auto;
    height: 1000rem;
    position: absolute;
    //margin-top: ;
    right: 0;
    top:0;




    &--head{
      background-color:#DBE1B4;
      height: 98px;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: row;

      &--heading{
        font-size: 35px;
        font-weight: bold;
        margin-left: 2rem;

      }
      &--clearlink{
        color: #3E3E3E;
      &--clear{
        margin-left: 490px;
        }
      }
    }
    &--details{
      width: 644px;
      height: 171px;
      background-color: #FFFFFF;
      display: flex;
      flex-direction: row;
      box-shadow: inset 0px 3px 6px #00000029, 0px 1px 0px #00000029;
      //align-items: center;
      &--image{
        width: 122px;
        height: 112px;
        margin-left: 33px;
        margin-top: 33px;
      }
      &--about{
        display: flex;
        flex-direction: column;
        width: 200px;
        margin-left: 33px;
        margin-top: 33px;
        &--hovag{
          font-weight: bolder;
          top:5px;
          font-size: 20px;
        }
        &--type{
          color: #7070707A;
          font-size: 20px;
        }
        &--price{
          color: #7070707A;
          font-size: 20px;
        }
      }
      &--edit{
        display: grid;
        grid-template-columns: auto ;
        width: 100px;
        grid-gap: 2px;
        margin-left: 50px;
        margin-top:33px ;
        &--price{

          font-weight: bold;
          font-size: 20px;
        }
        &--quantity{
          display: flex;
          flex-direction: row;
          width: 88px;
          height: 29px;

          border-radius: 16px;
          border: 1px solid black;
          &--subtration{
            border-radius: 15px 0px 0px 15px;
            border:none;
            background-color: #FFFFFF;
            font-size: 20px;
            font-weight: bold;
          }
          &--number{
            width:40px;
            border:none;
            margin: auto;
            margin-left: 20%;

          }
          &--addition{
            border-radius: 0px 15px 15px 0px;
            border:none;
            background-color: #FFFFFF;
            font-size: 20px;
            font-weight: bold;

          }
        }
        &--delete{
          transform: scale(1.1);
         margin-left: 33px;
        }
      }

    }
    &--totalwrap{
      background-color: #FFFFFF;
      height: 134px;
      &--total{
        display: flex;
        align-items: center;
        font-size: 26px;
        font-weight: bold;
        height:68px;
        &--heading{
          margin-left: 5rem;
        }
        &--amount{
         position: absolute;
          right: 7rem;
        }

      }
      &--checkout{
        width: 489px;
        height: 51px;
        background: #4F61D0 0% 0% no-repeat padding-box;
        border: 1px solid #707070;
        border-radius: 26px;
        opacity: 1;
        color: #FFFFFF;
        font-size: 20px;
        margin-left: 84px;
      }
    }
  }
}