.cart {
  background-color: lightblue;
  height: 100vh;
  width: 100%;

  &--heading {
    background-color:azure;
    color: darkblue;
    align-items: center;
    height: 2rem;
    text-align: center;
    padding-top:0.6rem;
    font-family: "Fira Code Light";
    font-weight: bold;
    font-size: large;
  }
  &--wrapper {
    display: flex;

    &--content {
      border: 0.1rem solid #dcbf92;
      width: 60%;
      height: 93vh;
      overflow-y:scroll;

      &--heading{
        display: flex;
        color: white;
        font-size: medium;
        font-family: "Tibetan Machine Uni";

        &--title{
          margin:2rem 2rem 0.3rem 6rem;
          transition: transform .1s ease-out;

        }
        &--title:hover{
          transform: translate(0, -5px);
          cursor:pointer;
        }
      }

    }

    &--payment {
      width: 40%;
      height: 93vh;
      border: 0.1rem solid #dcbf92;

      &--amount{
        margin: 1rem;
      }

      &--button{
        border: none;
        background-color: #c4aa7c;
        padding: 1rem 1.5rem;
        margin: 1rem;

      }
    }
  }
}